body {
  font-family: "Roboto Slab", serif;
}

.card {
  display: block;
  margin: 10% auto;
  background: #ececec;
  border: 3px #9fd3c7 solid;
  max-width: 700px;
  padding: 10px;
}

.icon {
  margin: 0 auto;
  display: block;
}
.current {
  text-align: center;
  display: block;
  font-weight: 700;
  color: #142d4c;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

h1 {
  font-size: 40px;
  display: block;
}
h3,
h4,
h5,
h6,
h2 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  color: #142d4c;
}

p {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  font-size: 14px;
}

button {
  display: block;
  text-align: center;
}

#current-temp {
  display: inline;
  font-size: 45px;
}

.inactive {
  color: #142d4c;
  font-size: 40px;
  font-weight: 400;
}

.active {
  color: #9fd3c7;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
}

.forecast {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.min-temp,
.day {
  font-weight: 400;
}
