body {
  font-family: "Roboto Slab", serif;
}

.card {
  display: block;
  margin: 10% auto;
  background: #ececec;
  border: 3px #9fd3c7 solid;
  max-width: 700px;
  padding: 10px;
}

.icon {
  font-size: 150%;
}

.current {
  text-align: center;
  display: block;
  font-weight: 700;
  color: #142d4c;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 25px;
}
h3,
h4,
h5 {
  font-size: 20px;
}

.current.icon {
  display: block;
  font-size: 300%;
}

p {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  font-size: 14px;
}

button {
  display: block;
  text-align: center;
}
